<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="assets/css/style.css")
	body
		h1(style="text-align: center; margin-top: 20vh;") Workflow set up correctly! :)
		img(style="max-width: 480px; margin-left: auto; margin-right: auto; display: block;", src="assets/img/laravel-mix.png", alt="")
		
		script(src="assets/js/script.js")
